<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Produtos</h1>
<a th:href="@{/produto/novo}">Novo Produto</a>
<table border="1">
    <tr>
        <th>Nome</th><th>Descrição</th><th>Valor</th><th>Quantidade</th><th>Imagem</th><th>Ações</th>
    </tr>
    <tr th:each="p : ${produtos}">
        <td th:text="${p.nome}"></td>
        <td th:text="${p.descricao}"></td>
        <td th:text="${p.preco}"></td>
        <td th:text="${p.quantidade}"></td>
        <td> <img th:src="${p.imagem}" width="100"/></td>
        <td>
            <a>Editar</a>
            <a>Deletar</a>
        </td>
    </tr>
</table>
</body>
</html>